node_modules
.yarn/install-state.gz
dist

.env
.env.*
!.env.example

.git
.gitignore
.idea
.vscode
.DS_Store

test
coverage
jest.config.ts

docs
specs
*.md

eslint.config.mjs

Dockerfile
.dockerignore

packages/loghub-client/dist
